@import "tailwindcss";

@font-face {
  font-family: "Apfel Grotezk";
  src: url("./assets/fonts/apfel-grotezk-latin-400-normal-BWvmwAfX.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apfel Grotezk-bold";
  src: url("./assets/fonts/apfel-grotezk-latin-700-normal-C0IDjXKv.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM-Sans-regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/fonts/MJQFMMOTEGNXDVM7HBBDTQHTVB2M7Y6G.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-clash: "Clash Grotesk", sans-serif;
  --font-dm: "DM Sans", sans-serif;
  --font-third: "Third Font", sans-serif;
  --color-primary: #9553e6;
  --color-secondary: #6feb2c;
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-apfel: "Apfel Grotezk", sans-serif;
  --animate-shimmer: shimmer 2s infinite linear;
}

html {
  color: #fff;
  background-color: #000;
  font-family: "Clash Grotesk";
}

.text-shadow-glow {
  text-shadow: 0 0 15px #6eeb2ca6, 0 0 30px #6eeb2c4d;
}
.review-prev.swiper-button-disabled,
.review-next.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}